<div class="container">
    <%-include('partials/navBar')-%>
    <div class="msg-arear">
        <%-include('components/contact')-%>
        <%-include('components/messageBox')-%>
    </div>
    <input id="your-id" type="hidden" value="<%=username-%>">
</div>