<div id="notifiy-err-container" class="notifiy-contaner">
    <div id="notifiy-err" class="notifiy-err">
        <p class="notifiy-info">hi</p>
    </div>
</div>

<div class="container">
    <%-include('partials/navBar')-%>
    <div class="msg-arear">
        <%-include('components/contact')-%>
        <%-include('components/messageBox')-%>
    </div>
</div>
<div id="login-display" class="login-display show-login-display">
    <%-include('components/loginOrCreate')-%>
</div>