<div class="login-container">
    <div class="form-container">
        <p class="form-title">Log In</p>
        <form  class="form-wrapper" accept="/" method="POST">
            <input name="userName" type="text" class="form-control" placeholder="User Name">
            <button class="form-btn">Connect</button>
        </form>
    </div>
</div>