@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #152D35;
  --text-color-1: #fff;
  --back-color-contact: #345B63;
  --backg-color-input-container: #D4ECDD;
  --backg-color-chat-arear: #F3F1F5;
  --sender-text-color: #C8C6C6;
  --cancel-btn-backg: #FF4848;
  --cancel-btn-backg-on-hover: #FE8F8F;
  --add-btn-backg: #5de08f;
  --add-btn-backg-on-hover: #97e0b3;
}

html {
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 0.5rem;
}

.input-container,
.navbar {
  padding: .5rem;

}

.msg-arear,
.contact-container,
.msg-container {
  height: calc(100vh - 4rem);
}

.navbar {
  background-color: var(--navbar-color);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.menu {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3.5rem;
  width: 3.5rem;
  padding: .8rem .7rem;
}

.menu .menu-line {
  background-color: var(--text-color-1);
  width: 100%;
  height: 3px;

}

.brand {
  color: var(--text-color-1);
  margin-left: auto;

}

.call-container {
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
  padding: 0 .5rem;
  height: 100%;
}

.container {
  height: 100vh;
}

.msg-arear {
  display: grid;
  position: relative;
}

.contact-container {
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  width: 100%;
  position: absolute;
  transition: 5ms all ease-in-out;
  /*transform: translateX(-860px);*/
}

.contact-container.show {
  transform: translateX(0);
}

.contact-wrapper {
  background-color: var(--back-color-contact);
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  gap: 1px;
}

.all-msg,
.all-contacts,
.add-contact {
  color: var(--text-color-1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.all-msg:hover,
.all-contacts:hover,
.add-contact:hover {
  background-color: var(--navbar-color);
}

.add-container {
  background-color: var(--back-color-contact);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: solid;
  width: 100%;
  height: calc(100vh - 4rem);
  opacity: 0.88;
}

.add-wrapper {
  background-color: var(--backg-color-input-container);
  border-radius: .5rem;
  width: calc(100% - 2rem);
  height: calc(100% - 12rem);
}
.add-wrapper .title{
  text-align: center;
  padding: 1rem;
}
.add-input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.add-input-container label {
  margin-top: 0.5rem;
  font-size: 18px;
}

.add-input-container input {
  border: none;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  font-size: 17px;
  height: 3rem;
  outline: none;
}
.add-input-container input:focus {
  border: solid 1px var(--back-color-contact);
}
.add-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.add-btn-container button {
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  width: 7rem;
  height: 3rem;
}

.cancel-btn {
  background-color: var(--cancel-btn-backg);
}
.cancel-btn:hover {
  background-color: var(--cancel-btn-backg-on-hover);
}

.add-btn {
  background-color: var(--add-btn-backg);
}
.add-btn:hover {
  background-color: var(--add-btn-backg-on-hover);
}
.hist-contacts {
  background-color: var(--backg-color-input-container);
}

.msg-container {
  display: grid;
  grid-template-rows: 5fr 0.5fr;
}

.chat-arear {
  background-color: var(--backg-color-chat-arear);
}

.message-bubble-container {
  overflow: auto;
  height: 100%;
  border: red solid;
}

.message-bubble {
  width: 100%;
  padding: .5rem;
}

.text-msg-wrapper {
  background-color: var(--text-color-1);
  border-radius: .5rem;
  display: inline-block;
  min-width: 3.5rem;
  max-width: 70%;
  padding: .5rem;
}

.text-msg-wrapper .text-message {
  font-size: 18px;
  word-wrap: break-word;
}

.text-msg-wrapper .sender-name {
  border: solid;
  color: var(--sender-text-color);
  display: inline-block;
  font-size: 12px;
  text-align: right;
  width: 100%;
}

.input-container {
  background-color: var(--backg-color-input-container);
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.input {
  border: 1px solid var(--back-color-contact);
  border-radius: 5rem;
  padding: .5rem 1rem;
  width: 80%;
  font-size: 18px;
  outline: none;
}

.sen-btn {
  width: 15%;
  font-size: 18px;
}

@media screen and (min-width: 800px) {
  .msg-arear {
    grid-template-columns: 1.5fr 3fr;
  }

  .contact-container {
    position: static;
    transform: translateX(0);
  }

  .menu {
    display: none;
  }
}