<div class="navbar">
  <button id="menu" class="btn menu">
    <span class="fas fa-arrow-left menu-arrow"></span>
  </button>
  <div class="brand">
    <span class="text">Connect ME</span>
  </div>
  <div class="call-container">
    <button id="call-btn-video" class="btn call-btn-video">
      <span class="fa fa-video"></span>
      video</button>
    <button id="call-btn-voice" class="btn call-btn-voice">
      <span class="fa fa-phone-alt"></span>
      call</button>
  </div>
</div>