<div class="navbar">
  <button id="menu" class="btn menu">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </button>
  <div class="brand">
    <span class="text">Connect ME</span>
  </div>
  <div class="call-container">
    <div class="">video</div>
    <div class="">call</div>
  </div>
</div>