<div class="add-wrapper">
    <div class="title">
        <h1>Add New Friend</h1>
    </div>
    <div class="add-input-container">
        <label for="user-name">User Name</label>
        <input id="user-name" class="user-name" type="text" placeholder="User Name Here">
        <label for="user-id">User UUID</label>
        <input id="user-id" type="text" class="user-id" placeholder="User UUID Here">
    </div>
    <div class="add-btn-container">
        <button id="add-cancel-btn" class="btn cancel-btn">Cancel</button>
        <button class="btn add-btn">Add</button>
    </div>
</div>