<div id="contact-container" class="contact-container">
    <div class="contact-wrapper">
        <div class="all-msg">All</div>
        <div class="all-contacts">Contacts</div>
        <div id="add-contact-btn" class="add-contact">add</div>
    </div>
    <div id="add-container" class="add-container">
        <%-include('addContact')-%> 
    </div>
    <div id="contacts-hist" class="hist-contacts"></div>
</div>
