<div id="contact-container" class="contact-container">
    <div class="contact-wrapper">
        <div class="all-msg">All</div>
        <div class="all-contacts">Contacts</div>
        <div class="add-contact">add</div>
    </div>
    <div class="add-container">
        <%-include('addContact') %> 
    </div>
    <div class="hist-contacts">contact</div>
</div>
