<div class="login-container">
    <div class="form-container">
        <p class="form-title">Log In</p>
        <form id="login-form" class="form-wrapper" accept="/" method="POST">
            <input id="your-id" name="UserName" type="text" class="form-control" placeholder="User Name">
            <button id="login-form-btn" class="form-btn">Connect</button>
        </form>
    </div>
</div>