<div class="msg-container">
    <div class="chat-arear">
        chat
    </div>
    <div class="input-container">
        <input type="text" class="input" placeholder="text message">
        <button class="btn sen-btn">sed</button>
    </div>
</div>