<div class="msg-container">
    <div class="chat-arear">
        <div class="message-bubble-container">
            <%-include('messageBubble')-%>
        </div>
    </div>
    <div class="input-container">
        <input id="new-mesg" type="text" class="input" placeholder="text message">
        <button id="send-btn" class="btn sen-btn">send</button>
    </div>
</div>