<div class="msg-container">
    <div class="chat-arear">
        <div id="add-message" class="message-bubble-container"></div>
    </div>
    <div class="input-container">
        <textarea id="new-mesg" type="text" class="input" placeholder="text message"></textarea>
        <button id="send-btn" class="btn sen-btn">send</button>
    </div>
</div>